In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.ticker as mtick

In [ ]:
person_raw = pd.read_csv('https://github.com/MaxGhenis/datarepo/raw/master/pppub19.csv.gz',
                         usecols=['MARSUPWT', 'SPM_ID', 'SPM_POVTHRESHOLD',
                                  'SPM_RESOURCES','A_AGE','CTC_CRD','ACTC_CRD','PAW_TYP','PAW_VAL'])

In [ ]:
person = person_raw.copy(deep=True)
person.columns = person.columns.str.lower()
person['weight'] = person.marsupwt/100

In [ ]:
del person['marsupwt']

In [ ]:
person['child'] = person.a_age < 18
person['adult'] = person.a_age >= 18
ages = person.groupby('spm_id')[['child','adult']].sum()
ages.columns = ['total_children', 'total_adults']
person = person.merge(ages,left_on='spm_id', right_index=True)

In [ ]:
person =

In [ ]:

person_benefits =person['spm_id'].copy(deep=True)
person_benefits=pd.DataFrame(person_benefits)
person_benefits = person_benefits[['spm_id']].drop_duplicates()
person_benefits

In [ ]:
person_benefits=person_benefits['ctc_crd','actc_crd','paw_typ','paw_val','spm_id','weight']
person_benefits

In [ ]:
#drop duplicates

          spm_id
0           4001
1           6001
2           7001
3           8001
5          13001
...          ...
180084  94629001
180085  94630001
180087  94631001
180093  94632001
180099  94633001

[71517 rows x 1 columns]

Who's getting child tax credit and TANF

In [ ]:
## total_popbenefits = ((person_benefits.ctc_crd>0|person_benefits.actc_crd>0) & (person_benefits.paw_typ==1)).sum() 
##total_popbenefits = ((person_benefits.ctc_crd>0)|(person_benefits.actc_crd>0)).sum()

person_benefits['both']=((person_benefits.ctc_crd>0) | (person_benefits.actc_crd>0)) & (person_benefits.paw_typ==1)
total_both = (person_benefits.weight * person_benefits.both).sum()
total_both

AttributeError: ignored